/.gradle/
/.idea/
/.pc/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/hyperfind.substvars
/debian/hyperfind/
/opendiamond.jar
*.iml
*.ipr
*.iws
*.swp
.DS_Store
build/
out
generated_src
