Source: hyperfind
Priority: optional
Maintainer: Jan Harkes <jaharkes@cs.cmu.edu>
Section: java
Build-Depends: 
    ant,
    debhelper (>=12),
    openjdk-8-jdk,
    javahelper,
    libcommons-io-java,
    libgoogle-gson-java,
    libswingx-java,
    opendiamond-java
Standards-Version: 4.5.0
Homepage: http://diamond.cs.cmu.edu
Vcs-Git: https://github.com/cmusatyalab/hyperfind.git

Package: hyperfind
Architecture: all
Section: java
Depends: ${misc:Depends}, ${java:Depends}
Description: Generic image search application for OpenDiamond.
 A generic image search GUI front-end that works with an
 OpenDiamond/Eureka backend.
