#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export CLASSPATH=/usr/share/java/commons-io.jar:/usr/share/java/gson.jar:/usr/share/java/jai_imageio.jar:/usr/share/java/swingx.jar

%:
	dh $@ --with javahelper 
